**/Schematics&PCBs/Schematic001/.history

Notes/._items.md
._.gitignore
Schematics&PCBs/Schematic001/._.history
Schematics&PCBs/Schematic001/._Schematic001.kicad_pro
Schematics&PCBs/Schematic001/._Schematic001.kicad_sch
Science Fair/._overheat.md
Models/._Model 5.fbx
Schematics&PCBs/Schematic001/._schematic001_kicad_Schematic001.png
