**/Schematics&PCBs/Schematic001/.history

Notes/._items.md
._.gitignore
Schematics&PCBs/Schematic001/._.history
Schematics&PCBs/Schematic001/._Schematic001.kicad_pro
Schematics&PCBs/Schematic001/._Schematic001.kicad_sch
